:root {
  --black: #000;
  --dark-grey: #262626;
  --grey: #e2dfda;
  --light-grey: #f0f0f0;
  --white: #fff;
  --purple: #7730a1;
  --red: #c00100;
  --gold: #ac9807;
}

$colors: (
  "black": var(--black),
  "dark-grey": var(--dark-grey),
  "grey": var(--grey),
  "light-grey": var(--light-grey),
  "white": var(--white),
  "purple": var(--purple),
  "red": var(--red),
  "gold": var(--gold),
);

@each $name, $hex in $colors {
  .text-#{$name} {
    color: $hex;
  }
  .bg-#{$name} {
    background-color: $hex;
  }
}
