.modal {
  background-color: rgba($color: #000, $alpha: 0.9);
  border-collapse: collapse;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.slide-down {
  animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
