.card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.removeBtn {
  position: absolute;
  top: 20px;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.titleInput {
  background: none;
  border: none;
  border-bottom: none;
  font-size: 14px;
  color: var(--white);
  outline: none;
  margin-top: 20px;
  width: 100%;
}

.statRow {
  display: flex;
  flex-direction: column;
}

.statLabel {
  font-size: 14px;
  text-align: left;
  color: var(--white);
  margin-top: 12px;
}
