.list {
  display: flex;
  flex-direction: column;
}

.addBtn {
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  margin-top: 13px;
}
