.mobileNav {
  a {
    color: var(--white);
    display: flex;
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    padding: 2px 10px;
    text-decoration: none;
    transition: color 0.2s;

    &.active,
    &:hover {
      color: var(--dark-grey);
      font-weight: bold;
    }
  }
}
