@use "./styles/typography";
@use "./styles/spacing";
@use "./styles/flexbox";
@use "./styles/sizing";
@use "./styles/colors";

#root {
  font-family:
    "Palatino Linotype", "Book Antiqua", Palatino, Georgia, Garamond, serif;
  line-height: 1.5;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: var(--black);
  padding: 0 0 45px 0;
}

nav,
header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 768px;
  z-index: 999;
}

header {
  background-color: var(--light-grey);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}

nav {
  bottom: 0;
}

select {
  background: none;
  border: none;
  text-align: center;
  color: var(--dark-grey);
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
}

a {
  color: var(--red);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

button {
  background: none;
  border: none;
}

input {
  background: none;
  border: none;
  outline: none;
}

ul,
ol {
  padding-left: 10px;
  margin: 0 10px;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

p,
h3 {
  padding: 0 5px;
}

p,
li,
em,
strong,
span {
  font-size: 14px;
  line-height: 1.3em;
}

img {
  max-width: 100%;
}

.optional {
  border: 1px solid var(--dark-grey);
  border-radius: 8px;
  padding: 0 8px;
}

.rounded {
  border-radius: 8px;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.cardBtn {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 2px;
}

table {
  border-collapse: collapse;
  font-size: 14px;
  table-layout: auto;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;

  tr {
    td,
    th {
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    th {
      background-color: var(--dark-grey);
      text-align: left;
    }

    td {
      background-color: var(--light-grey);
      text-align: left;
    }
  }

  tr:nth-child(odd) td {
    background-color: var(--grey);
  }
}
